.parents{
   display:flex;
   margin: 40px;
   padding: 10px;
   color:rgb(255 198 0);
}

.card1{
    
    width: 800px;
    height: fit-content;
    background-color: #ffc600;
    border-radius: 10px;
    text-align: center;
    padding: 10px;


}
.closebutton{
    text-align: end;
    cursor: pointer;
    font-size: medium;
    background-color: #ffc600;
    
}

.card-img{
    width: 200px;
    
    float: left;
    border-radius: 10px;
    object-fit: cover;
    
}
.top{
    align-items: center;
    justify-items: center;
    color: black;
    margin: 10px;

}
h4{
    color: white;
}
.card{
    width: 300px;
    height: fit-content;
    display: flex;
    margin: 10px;
    align-items: center;
    background-color:black;
}
.tag{
    text-decoration: none;
    color:rgb(255 198 0);
}
.navbar{
    background-color: black;
    justify-content: space-between;
}

.btn{
    color: black;
    background-color:  #ffc600;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.btn:hover{
    color: #ffc600;
}
.button-class{
    justify-items: end;
    float: right;
    margin: 30px;

}
